.striketext{
  text-decoration: line-through;
}
.filters{
    border: 1px solid mediumseagreen;
    border-radius: 10px;
    width: fit-content;
    margin: 20px 0;
    padding: 20px;
    background-color: mediumseagreen;
}
.task{
    border: 1px solid;
    border-radius: 10px;
    width: fit-content;
    padding: 10px;
    margin: 10px 0;
}
button{
    border-radius: 5px;
}
.buttons{
    margin-left: 50px;
}